<%- include("header", {}) %>
<div class="formulario">
    <form action="/register" method="post" class="form">
        <br><input placeholder="name" type="text" name="name" required><br>
        <br><input placeholder="password" type="password" name="password" required><br>
        <br><input placeholder="user name" type="text" name="username" required><br>
        <br><button type="submit">Sign up</button>
    </form>
</div>
<%- include("footer", {}) %>
